<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="Configs/Properties.config"/>

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="false"/>
  </settings>

  <providers resource="Configs/Providers.config"/>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="SqlServer" connectionString="Data Source=VDEVSQLSRV\DEVSQLSERVER;Uid=devuser;Pwd=hk_123456;Initial Catalog=hk_erp" />
  </database>

  <sqlMaps>
    <sqlMap resource="MapFile/SD_Web_ActualsCardInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_ActualsMasterInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_ActualsPromotionInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_ActualsStockInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_ActualsWebShoppingMatListInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_CustUserInActualsInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_MaterialRegionDetailInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_MaterialRegionMasterInfo.xml" />
    <sqlMap resource="MapFile/Bas_AreaInfo.xml" />
    <sqlMap resource="MapFile/Bas_CompanyInfo.xml" />
    <sqlMap resource="MapFile/Bas_CurrencyInfo.xml" />
    <sqlMap resource="MapFile/Bas_DepartMentInfo.xml" />
    <sqlMap resource="MapFile/Bas_InterCompanyInfo.xml" />
    <sqlMap resource="MapFile/Bas_InterCompanyParamInfo.xml" />
    <sqlMap resource="MapFile/Bas_OperationAreaInfo.xml" />
    <sqlMap resource="MapFile/Bas_PersonnelInfo.xml" />
    <sqlMap resource="MapFile/Bas_StockInfo.xml" />
    <sqlMap resource="MapFile/SD_Bas_AmtCalcModeInfo.xml" />
    <sqlMap resource="MapFile/SD_Bas_CompanyCardInfo.xml" />
    <sqlMap resource="MapFile/SD_Bas_CustAddressInfo.xml" />
    <sqlMap resource="MapFile/SD_Bas_DisCountInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_CardInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_CardToKindInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_ColorInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_ItemInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_KindInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_MaterialInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_MaterialParamInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_MaterialSizeInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_ModelInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_SeasonInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_SeriesInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_SexInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_SizeInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_SizeInTypeInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_SizeTypeInfo.xml" />
    <sqlMap resource="MapFile/SD_Mat_StuffInfo.xml" />
    <sqlMap resource="MapFile/SD_Sal_OrderDetailInfo.xml" />
    <sqlMap resource="MapFile/SD_Sal_OrderMasterInfo.xml" />
    <sqlMap resource="MapFile/SD_Sal_OrderSizeInfo.xml" />
    <sqlMap resource="MapFile/Sys_ParameterDetailInfo.xml" />
    <sqlMap resource="MapFile/Sys_ParameterItemInfo.xml" />
    <sqlMap resource="MapFile/Sys_StateInfo.xml" />
    <sqlMap resource="MapFile/SD_Web_NoticeInfo.xml" />
  </sqlMaps>

</sqlMapConfig>