<?xml version="1.0" encoding="utf-8"?>
<dataSource
  xmlns="http://ibatis.apache.org/dataSource"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  name="SqlServer"
  providerName="sqlServer4.0"
  connectionString="Data Source=PC-TANZAME\DEVSQL;Uid=sa;Pwd=123456;Initial Catalog=HK_ERP"
  >

</dataSource>